<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(~{::content})}">

<div th:fragment="content">

    <div class="mb-3">
        <h3 th:text="${product.id == null ? 'Tạo Sản phẩm' : 'Chỉnh sửa Sản phẩm'}"></h3>
        <p class="text-muted">Nhập thông tin sản phẩm</p>
    </div>

    <form th:action="@{/products/save}"
          th:object="${product}"
          method="post"
          enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}"/>

        <!-- NAME -->
        <div class="mb-3">
            <label class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" th:field="*{name}">
        </div>

        <!-- PRICE -->
        <div class="mb-3">
            <label class="form-label">Giá</label>
            <input type="number" class="form-control" th:field="*{price}">
        </div>

        <!-- IMAGE -->
        <div class="mb-3">
            <label class="form-label">Ảnh sản phẩm</label>
            <!--  ảnh cũ -->
            <div th:if="${product.image != null}">
                <img th:src="@{'/uploads/products/' + ${product.image}}"
                     style="width:100px;height:100px;object-fit:cover;margin-bottom:10px;">
            </div>
            <!-- chọn ảnh mới -->
            <input type="file"
                   name="imageFile"
                   class="form-control">
        </div>

        <!-- CATEGORY FIX -->
        <div class="mb-3">
            <label class="form-label">Danh mục</label>

            <select class="form-select" th:field="*{category.id}">
                <option value="">-- Chọn danh mục --</option>

                <option th:each="c : ${categories}"
                        th:value="${c.id}"
                        th:text="${c.name}">
                </option>
            </select>
        </div>

        <!-- AVAILABLE -->
        <div class="form-check mb-3">
            <input type="checkbox"
                   class="form-check-input"
                   th:field="*{available}">
            <label class="form-check-label">
                Còn bán
            </label>
        </div>

        <button type="submit" class="btn btn-primary">
            Lưu
        </button>

        <a href="/products" class="btn btn-secondary">
            Huỷ
        </a>

    </form>

</div>

</html>