<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section})">

<section>

    <div class="d-flex justify-content-between mb-3">
        <h3>Product List</h3>
        <a class="btn btn-primary" href="/products/create">
            + Add Product
        </a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th width="200">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>

            <!-- nếu Product có category -->
            <td th:text="${p.category.name}"></td>

            <td>
                <a class="btn btn-warning btn-sm"
                   th:href="@{'/products/edit/' + ${p.id}}">
                    Edit
                </a>

                <a class="btn btn-danger btn-sm"
                   href="javascript:void(0);"
                   th:onclick="'confirmDelete(' + ${p.id} + ', \'products\')'">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>

    </table>

</section>

</html>